<% include partials/header %>

        <div class="container" id="homePageContainer">
            
            <h1>Following Users posts</h1>
            <br>
            <%for(let post of posts){ %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                           <a href="/profile/<%=post.author.username%>"><%=post.author.username %></a> 
                        </h5>
                        <p class="card-text"><%= post.text %></p>
                        
                    </div>
                    <%if(post.image!==""){ %>
                        <img src="<%= post.image %>" class="card-img-top" alt="...">
                    <%} %>
                    <div class="card-body">
                       <% var status=false;   %>
                       <% for(let l of post.likes){   %>
                          <%  if(l==userId){  %>
                              <%  status=true;  %>
                              <%  break; %>
                           <% } %>
                       <% }  %>
                      <%  if(status){  %>
                            <a href="/post/<%= post._id%>/unlike" class="likeBtn"><i class="fas fa-heart fa-2x"></i></a>
                            <a href="/post/<%= post._id%>/comments"><i class="far fa-comment-alt fa-2x"></i></a>
                            <p class="count"><span><%= post.likes.length %></span> likes</p>
                      <%  }else{  %>
                            <a href="/post/<%= post._id%>/like" class="likeBtn"><i class="far fa-heart fa-2x"></i></a>
                            <a href="/post/<%= post._id%>/comments"><i class="far fa-comment-alt fa-2x"></i></a>
                            <p class="count"><span><%= post.likes.length %></span> likes</p>
                      <%  } %>
                    </div>   
                </div>
                <br>
            <%} %>
        </div>
    </body>
</html>  

